#include <winnt.h>
#include <winver.h>
#include "resource.h"

// Manifest
ID_MANIFEST MANIFEST "../build/app.min.manifest"

// Icons
ID_ICON_APP ICON "icon.ico"

// Images
ID_IMAGE_ICON IMAGE "icon.png"

// English Strings
STRINGTABLE LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
    ID_STRING_APP_NAME "BassieMusic\x00"
    ID_STRING_WEBVIEW_URL "http://localhost:5173/\x00"
    ID_STRING_ABOUT_MENU "About\x00"
    ID_STRING_ABOUT_TITLE "About BassieMusic Windows App\x00"
    ID_STRING_ABOUT_TEXT_FORMAT "BassieMusic Windows App v%d.%d.%d.%d\n"
        "Made by PlaatSoft\n"
        "Copyright \xA9 2021 - 2022 PlaatSoft\x00"
}

// Dutch Strings
STRINGTABLE LANGUAGE LANG_DUTCH, SUBLANG_DUTCH
{
    ID_STRING_APP_NAME "BassieMusic\x00"
    ID_STRING_WEBVIEW_URL "http://localhost:5173/\x00"
    ID_STRING_ABOUT_MENU "Over\x00"
    ID_STRING_ABOUT_TITLE "Over BassieMusic Windows App\x00"
    ID_STRING_ABOUT_TEXT_FORMAT "BassieMusic Windows App v%d.%d.%d.%d\n"
        "Gemaakt door PlaatSoft\n"
        "Copyright \xA9 2021 - 2022 PlaatSoft\x00"
}

// Version Information
VS_VERSION_INFO VERSIONINFO
FILEVERSION 0,1,0,0
PRODUCTVERSION 0,1,0,0
FILEFLAGSMASK 0
FILEFLAGS 0
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904B0"
        {
            VALUE "CompanyName", "PlaatSoft"
            VALUE "FileDescription", "BassieMusic"
            VALUE "FileVersion", "0.1.0.0"
            VALUE "InternalName", "BassieMusic"
            VALUE "LegalCopyright", "Copyright \xA9 2021 - 2022 PlaatSoft"
            VALUE "OriginalFilename", "bassiemusic.exe"
            VALUE "ProductName", "BassieMusic"
            VALUE "ProductVersion", "0.1.0.0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 0x04B0
    }
}
