body{margin-left:16.5rem;user-select:none;cursor:default}

a{color:currentColor}a:not(.card):hover,a:not(.card):focus{text-decoration:underline}
.menu-list a{text-decoration:none!important}

.table td{vertical-align:middle}

.sidebar{position:fixed;top:0;left:0;width:16.5rem;height:100%;overflow-y:auto;display:flex;flex-direction:column}
.flex{flex:1}
.player-controls{position:fixed;left:0;bottom:0;width:100%;height:6rem}
body.is-playing{margin-bottom:6rem}
body.is-playing .sidebar{height:calc(100% - 6rem)}

.column>.card{display:flex;flex-direction:column;height:100%;margin-bottom:0;overflow:hidden}
.column>.card>.card-content{flex:1;margin-bottom:0}
.card-image{padding-top:100%;background-size:cover;background-position:center center}
.card-image-tags{position:absolute;top:.5rem;right:.5rem}

.box.is-image{position:relative;background-size:cover;background-position:center center}
.box.is-squared{padding:100% 0 0 0}

.icon{display:block;width:24px;height:24px}.icon:not(.is-colored) path{fill:currentColor}
.icon.is-inline{display:inline-block;vertical-align:middle;transform:translateY(-1px)}

.ellipsis{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}

.track-play{transform:translateX(-35%)}
.track-play,.track-container:hover .track-index{display:none}
.track-index,.track-container:hover .track-play{display:block}

.slider-container {position:relative;margin-top:9px;width:100%;height:5px;background-color:lightgray;}
.slider {position:absolute;width:100%;height: 100%;background-color:#0099ff;}
.slider-thumb {position:absolute;top:-5px;width:15px;height:15px;background-color:white;border-radius:50%;cursor: pointer;}