html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
body.is-playing {
    height: calc(100% - 6rem);
    margin-bottom: 6rem;
}

a {
    color: currentColor;
}
a:hover,
a:focus {
    text-decoration: underline;
}
.navbar a,
a.card,
.tabs a,
.menu-list a {
    text-decoration: none !important;
}

img {
    display: block;
}

.table td {
    vertical-align: middle;
}

.column > .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 0;
    overflow: hidden;
}
.column > .card > .card-content {
    flex: 1;
    margin-bottom: 0;
}

.box {
    overflow: hidden;
}

.media {
    align-items: center;
}

.has-image-tags {
    position: relative;
}

.image-tags {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.icon {
    display: block;
    width: 24px;
    height: 24px;
}
.icon:not(.is-colored) path {
    fill: currentColor;
}
.icon.is-inline {
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-1px);
}

.flex {
    flex: 1;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

::-webkit-scrollbar {
    width: 8px;
}

@media (max-width: 768px) {
    .tabs {
        width: 100%;
    }
    .tabs li {
        flex: 1;
    }

    .mr-0-mobile {
        margin-right: 0 !important;
    }
}

@media (max-width: 1024px) {
    body {
        margin-top: 52px;
    }
    body.is-playing {
        height: calc(100% - 52px - 6rem);
    }

    .section {
        padding: 1.5rem;
    }
}

@media (min-width: 1024px) {
    body {
        margin-left: 16.5rem;
    }
}

/* macOS app */
.app.is-macos-app .navbar {
    padding-top: 28px !important;
}
@media (max-width: 1024px) {
    .app.is-macos-app {
        margin-top: calc(80px - 1.5rem) !important;
    }
}

/* System theme */
.box > img,
.card-image > img {
    background-color: #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}
@media (prefers-color-scheme: dark) {
    .box > img,
    .card-image > img {
        background-color: #333;
    }
    ::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.3);
    }
}

/* Light theme */
.app.is-light .box > img,
.app.is-light .card-image > img {
    background-color: #ccc !important;
}
.app.is-light ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

/* Dark theme */
.app.is-dark .box > img,
.app.is-dark .card-image > img {
    background-color: #333 !important;
}
.app.is-dark ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3) !important;
}
