html {
    overflow: hidden;
}
body {
    overflow: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
html,
body {
    height: 100%;
}

a {
    color: currentColor;
}
a:hover,
a:focus {
    text-decoration: underline;
}
a.card,
.tabs a,
.menu-list a {
    text-decoration: none !important;
}

img {
    display: block;
}
img:-moz-loading {
    visibility: hidden;
}

.table td {
    vertical-align: middle;
}

.column > .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 0;
    overflow: hidden;
}
.column > .card > .card-content {
    flex: 1;
    margin-bottom: 0;
}

.box {
    overflow: hidden;
}

.media {
    align-items: center;
}

.has-image-tags {
    position: relative;
}

.image-tags {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.play-button-image {
    position: absolute;
    display: none;
    bottom: 10px;
    right: 10px;
}  

.card:hover .play-button-image {
    display: block;
}

.icon {
    display: block;
    width: 24px;
    height: 24px;
}
.icon:not(.is-colored) path {
    fill: currentColor;
}
.icon.is-inline {
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-1px);
}

.flex {
    flex: 1;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

body {
    scrollbar-width: thin;
}
::-webkit-scrollbar {
    width: 8px;
}

@media (max-width: 768px) {
    .tabs {
        width: 100%;
    }
    .tabs li {
        flex: 1;
    }

    .mr-0-mobile {
        margin-right: 0 !important;
    }
}

/* System theme */
.box.has-image,
.card-image {
    background-color: #ccc;
}
.app {
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}
@media (prefers-color-scheme: dark) {
    .box.has-image,
    .card-image {
        background-color: #333;
    }
    .app {
        scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
    }
    ::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.3);
    }
}

/* Light theme */
.app.is-light .box.has-image,
.app.is-light .card-image {
    background-color: #ccc !important;
}
.app.is-light {
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent !important;
}

/* Dark theme */
.app.is-dark .box.has-image,
.app.is-dark .card-image {
    background-color: #333 !important;
}
.app.is-dark {
    scrollbar-color: rgba(255, 255, 255, 0.3) transparent !important;
}
